@model IEnumerable<EventEaseApp.Models.Venue>

@{
    ViewData["Title"] = "Venue Index";
}

<h1>Venues List</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}



<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VenueID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>


            <th>
                Venue Image
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VenueID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>

                <td>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@item.ImageUrl" alt="Venue Image" width="200" height="200" style="object-fit:cover; border-radius:8px;" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>


            <td>
                    <a asp-action="Edit" asp-route-venueid="@item.VenueID">Edit</a> |
                    <a asp-action="Details" asp-route-venueid="@item.VenueID">Details</a> |
                    <a asp-action="Delete" asp-route-venueid="@item.VenueID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

